shared-workspace-lockfile=true # 모든 패키지가 하나의 pnpm-lock.yaml을 공유하게 해라
auto-install-peers=true        # 필요한 peerDependencies를 자동으로 설치해라
strict-peer-dependencies=true  # peerDependencies 버전이 안 맞으면 아예 설치 실패시켜
prefer-frozen-lockfile=false    # pnpm-lock.yaml을 그대로 신뢰하고, 패키지 버전 변경을 막아라
